.box {
    text-align: center;
}

.link {
    color: rgb(31, 45, 245);
    cursor: pointer;
}

.text {
    color: rgb(254, 255, 255);
    cursor: pointer;
}

.container {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}


.loginbox {
    background: #FFB830;
    border: 3px solid currentColor;
    padding: 20px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 60%;
    font-size: 20px;
    border-radius: 5px;
}

.loginbox2 {
    background: #FFB830;
    padding: 0px 100px 20px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 400px;
    height: 60%;
    font-size: 20px;
    border-radius: 5px;
}

.fromgroup {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;

}


.input {
    font-size: 16px;
    width: 300px;
    height: 40px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    display: block;
    border: 3px solid currentColor;
    color: currentColor;
    background: transparent;
    border-radius: var(--size-radius);

}

.button {
    outline: none;
    background: rgb(0, 0, 0);
    color: #fff;
    padding: 16px;
    display: block;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;

}

.containerpro {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.container2 {
    display: flex;
    margin-top: 4rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loginbox3 {
    background: #575757;
    border: 3px solid currentColor;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 850px;
    height: 500px;
    font-size: 20px;
    border-radius: 5px;
}

.loginbox4 {
    background: #575757;
    border: 3px solid currentColor;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 300px;
    height: 500px;
    font-size: 20px;
    border-radius: 5px;
    left: 1100px;
    top: 47px;
}

.loginbox5 {
    background: #575757;
    border: 3px solid currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 850px;
    height: 500px;
    font-size: 20px;
    border-radius: 5px;
    left: -300px;
    top: 28px;
}

.container3 {
    display: flex;
    margin-top: -30rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.input2 {

    font-size: 16px;
    width: 200px;
    height: 40px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    display: block;
    border: 3px solid #000000;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);

}

.button2 {
    outline: #000000;
    background: rgb(255, 255, 255);
    color: #000;
    padding: 16px;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: pointer;
}

.button3 {
    outline: #000000;
    background: rgb(0, 0, 0);
    color: #ffff;
    padding: 16px;
    width: 100%;
    border: none;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: pointer;
}

.text {
    color: white;
    text-align: center;
}

.container4 {
    display: flex;
    margin-top: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.loginbox6 {
    background: #575757;
    border: 3px solid currentColor;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;

    position: relative;
    width: 500px;
    height: 500px;
    font-size: 20px;
    border-radius: 5px;
    left: 950px;
    top: 48px;
}

.input13 {

    font-size: 16px;
    width: 200px;
    height: 40px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 3px solid #000000;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);

}

.input123 {

    font-size: 16px;
    width: 424px;
    height: 150px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 3px solid #000000;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);

}

.input222 {

    font-size: 16px;
    width: 250px;
    height: 40px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 3px solid #000000;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);

}

.input2224 {

    font-size: 16px;
    width: 100px;
    height: 40px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 3px solid #000000;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);

}

.input111 {

    font-size: 16px;
    width: 250px;
    height: 60px;

}

.button245 {
    outline: #ffffff;
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    width: 90px;
    height: 25px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.loginbox65 {
    background: #ffffff;
    border: 3px solid currentColor;
    padding: 0px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    position: relative;
    width: 400px;
    height: 550px;
    font-size: 20px;
    left: 1050px;
    top: 20px;
    border: 3px solid #000000;
}

.button33 {
    outline: #000000;
    background: rgb(0, 0, 0);
    color: #ffff;
    padding: 16px;
    border: none;
    align-items: center;
    text-transform: uppercase;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    cursor: pointer;
}

.loginbox59 {
    background: #575757;
    border: 3px solid currentColor;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 850px;
    height: 550px;
    font-size: 20px;
    border-radius: 5px;
    left: -200px;
    top: -50px;
}

.input299 {

    font-size: 16px;
    width: 300px;
    height: 40px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;

    color: currentColor;
    background: white;


}

.input1234 {

    font-size: 16px;
    width: 280px;
    height: 100px;
    padding: 16px;
    transition: all 0.3s ease;
    box-sizing: border-box;
    border: 3px solid #000000;
    color: currentColor;
    background: white;
    border-radius: var(--size-radius);

}